# This is a basic workflow to help you get started with Actions

name: automate

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    paths:
      - '.github/workflows/automate.yml'
      - 'GNUmakefile'
    schedule:
      - cron: "*/5 * * * *"

    branches:       #[ master ]
      - '*'         # matches every branch that doesn't contain a '/'
      - '*/*'       # matches every branch containing a single '/'
      - '**'        # matches every branch
      - 'master'    # includes master
      - 'main'      # includes main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  #$ make start
  #npm run
  #Lifecycle scripts included in BitcoinAnd.net@6.0.4:
  #  start
  #    npm run build && node scripts/start.js
  #
  #available via `npm run-script`:
  #  build
  #    npm run clean && npm run build:pug && npm run build:scss && npm run build:scripts && npm run build:assets
  #  build:assets
  #    node scripts/build-assets.js
  #  build:pug
  #    node scripts/build-pug.js
  #  build:scripts
  #    node scripts/build-scripts.js
  #  build:scss
  #    node scripts/build-scss.js
  #  clean
  #    node scripts/clean.js
  #  start:debug
  #    npm run build && node scripts/start-debug.js

  u18-host:
    runs-on: ubuntu-18.04
    steps:
      ## REF: https://githubmemory.com/repo/Gisleburt/cancel-workflow-action
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
      - name: Make
        run: |
          make install
          sudo npm run-script build
          brew install youtube-dl

  macos-host:
    runs-on: macos-10.15
    steps:
      ## REF: https://githubmemory.com/repo/Gisleburt/cancel-workflow-action
      - uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v2
      - name: Make
        run: |
          make install
          sudo npm run-script build
          brew install youtube-dl

